﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Base.master.cs" Inherits="ELVISDashBoard.MasterPage.Base" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server"    >
<meta charset="UTF-8"/>
<title></title>
<script src="../App_Themes/BMS_Theme/Script/ParentChild.js" type="text/javascript"></script>
<script src="../App_Themes/BMS_Theme/Script/jquery.min.js" type="text/javascript"></script>
<script src="../App_Themes/BMS_Theme/Script/moment.min.js" type="text/javascript"></script>    
<script src="../App_Themes/BMS_Theme/Script/CommonControl.js" type="text/javascript"></script>

<asp:ContentPlaceHolder ID="head" runat="server">
</asp:ContentPlaceHolder>
</head>
<body>
<div id="mainWindow">
    <form id="baseForm">
      <div class="banner">
            <p class="pageTitle" id="pageTitle"></p>
        </div>
        <div id="topLine">

            <div id="topDiv">
               <div class="lineLabel" id="minuteTimer">dd MMM yyyy HH:mm</div>
               <div class="lineLabel" id="litUser">&nbsp;</div>

            <table cellpadding="0" cellspacing="0" border="0" id="linetab"><tr>
                <td class="line-button">
                <input id="logout-button"  class="line-button"
                    onmouseover="this.src='../App_Themes/BMS_Theme/Images/logout_hover.gif'" 
                    onmouseout="this.src='../App_Themes/BMS_Theme/Images/logout.gif'" 
                    src="../App_Themes/BMS_Theme/Images/logout.gif" 
                    onclick="Logout();" value="logout" 
                    type="image"/>
                </td>
                <td >
                  <input id="home-button"  class="line-button"
                    onmouseover="this.src='../App_Themes/BMS_Theme/Images/hometop_hover.gif'" 
                    onmouseout="this.src='../App_Themes/BMS_Theme/Images/hometop.gif'" 
                    src="../App_Themes/BMS_Theme/Images/hometop.gif" 
                    onclick="openHome();"  value="home"
                    type="image"/>
                </td>
                </tr></table>
            </div>
            
        </div>
        <div id="mainBody">
            <div>
                <asp:ContentPlaceHolder ID="torso" runat="server">
        
                </asp:ContentPlaceHolder>
            </div>
        </div>
    </form>
    
</div>
<div class="footer" id="PageFooterDiv"><span class="footer-version"> &nbsp;Version&nbsp;<%= ELVISDashBoard.AppConfig.VERSION %></span></div>
<asp:ContentPlaceHolder ID="foot" runat="server">
</asp:ContentPlaceHolder>
<input type="hidden" id="hidUsername" value="<%= UserName %>" />
<input type="hidden" id="hidFullName" value="<%= FullName %>"/>
</body>
</html>
