

.largeFont {font-size: x-large !important;}    
.redButton
{
	color:WhiteSmoke;
	background-color:Red;
	border-color:Silver;
	border-style:Outset;
	font-weight:bold;
	height:35px;
	width:100px;
}  
.redButton:hover
{
	background-color:#800000;
}
.greenButton 
{
	color:WhiteSmoke;
	background-color:#00A800;
	border-color:Silver;
	border-style:Outset;
	font-weight:bold;
	height:35px;
	width:100px;
}
.greenButton:hover
{
	background-color:#003300;
}
.blueButton 
{
	color:WhiteSmoke;
	background-color:#0000A8;
	border-color:Silver;
	border-style:Outset;
	font-weight:bold;
	height:35px;
	width:100px;
}
.blueButton:hover
{
	background-color:#000033;
}
.style1
{
	height: 40px;
}
.style2
{
	height: 80px;
}
.style3
{
	height: 23px;
}
.style4
{
	height: 15px;
}
.style5
{
	font-size: 13pt !important;
	font-weight: bold;
}
.hold  
{
	background: red;
	color: White;			    	 
	font-weight: bolder;
	border: 3px solid #990000;
	border-radius: 10px; -moz-border-radius: 10px;
	text-align: center;
	vertical-align: middle;
	float: right;
	display: block;
	clear: both;
	margin: 5px 5px 5px 5px;		    		    		    
	padding: 5px 5px 5px 5px;		    
}
.col
{
	background-color: #EEEEFF !important;
}
.colrv
{
   background-color: #FEFEDE !important;
}
.la1 
{
	width: 108px;
}
.la2
{
	width: 108px;
}
.la3
{
	width:100px;
}
.la4 
{
	width:75px;
}
.col1
{
	width: 170px;
}
.col2
{
	width: 90px;
}
.col3
{
	width: 165px;
}
.col4
{
	width:110px;
}
#rowBudgetDiv 
{
	display:block; margin: 0px 1px 0px 1px; padding: 0px 3px 0px 3px;
}
.colBudgetName 
{
	float: left;
	width: 320px;
	display: inline-block;
	margin: 3px 1px 3px 1px;
	
}
.colBudget
{
	float: left;
	display: inline-block;		    		    
	margin: 3px 1px 3px 1px;
}
.colBudgetRemain 
{
	float: left;
	width: 340px;
	display: inline-block;
	margin: 3px 1px 3px 1px;
}

/* ---------------------------------------------  2012-12-05 dan +  */


.appovback 
{
    background-color:Gainsboro;
    width:auto;
    font-weight:bold;
    text-align:center;
}

.Skipped 
{
    background-color: #8f8f8f;
}

.Concurred 
{
    background-color: #fe72ed;    
}

#ApprovalOverviewDiv 
{
    width:100% !important;
    /* display: block;*/
    float: left;
    clear: both;
    /*height:auto !important;
    padding-top:10px;*/
    margin: 5px 0px 5px 0px;
}

.appovtopline 
{
    border-top: 1px solid #f0f8ff;
    margin-top: 10px;
    margin-bottom:10px;
}
.appovtitle 
{
    display: block;
    width: 100%;
}

.appovbigtitle
{
    display:block;
    
    vertical-align: middle;
    
    font-size: larger;
    font-weight: bold;    
}

.appovgdiv
{
    display:block;
    width: 49%;        
}

.appovuser
{
    float: left;
}

.appovfin
{
   float: right;
}

.box
{
    width: 24px;
    height: 24px;
    float: left;
    margin: 0px 5px 0px 5px;
    padding: 0px 0px 0px 0px;
    display: block;
    border-radius: 5px;
    -moz-border-radius: 5px;

}

.colleft  
{
    width:40%;
    text-align: left;
    vertical-align: top;
    float: left;
    display: inline-block;
}

.colmid 
{
    width: 32%;
    float: left;
    text-align: left;
    vertical-align: top;
    display: inline-block;
}

.colright
{
    width:25%;
    float: right;
    text-align: right;
    vertical-align: top;
    display: inline-block;
}
.labeltotxl
{
    width: 195px;
    display: inline-block;
    float: left;
}
.labeltot
{
    width: 150px;
    display: inline-block;
    float: left;
}
.coltot
{
    padding: 0px 5px 0px 5px;
    display: inline-block;
    float: left;
}
.vtot
{
    float: left;
    display: inline-block;
}
.vcurr
{
    float: left;
    display: inline-block;
    padding-right: 10px;   
    overflow:auto;
}

.dtot
{
    font-size: 10pt;
}

.divSuspense 
{
    width: 70%;
    display: inline-block;
    clear: none;
    float: left;
}
.divIDR 
{
    display: inline-block; 
    clear: none;
    font-weight: bold;
    float: left;
}
.divAmounts 
{
    font-weight: bold;
   
    display: inline-block;
    clear: none;
    float: left;
}

.xl 
{
    font-size: 13pt !important;
}

.med
{
    font-size: 11pt !important;
}

/* 2013-01-09 dan + */

/* 2013-05-07 dan + */

.CodeCol
{
   width: 45px;  
   
   border-left-width: 1px;   
}

.CodeRow
{
    width: 45px;
    background-color: #efefef;
    border-left-width: 1px !important; 
     border-left-color: #cfcfcf !important; /* #cfcfcf;*/
     border-left-style: solid !important;
}


.NameCol 
{
    width: 230px;   
    
    border-left-width: 0px;
   
    
}

.StatusCol
{
    width: 55px;    
    border-left-width: 0px;
}

.DateCol
{
    width: 155px;
    border-left-width: 0px;
    text-align: center;
}