﻿#fbcj
{
    
    vertical-align:middle; 
    text-align: center; 
    width:99%; 
    height:570px; 
    display:block;
    margin: 35px 9px 0px 0px;
    
}
#topwrap
{
    width: 100%;
    display: block;
}
#bottomwrap
{
    width: 100%
}
#criteria 
{
    width: 320px;
    height: 220px;
    
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
    display: block; 
    float: left;
    text-align: center;
}
#info
{
    width: 650px;
    height: 220px;
    
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
    display: block;
    float: left; 
}
#grid
{
    width: 100%;
    height: 300px;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
    display: block;
    clear: both;
}
.buttons 
{
    margin: 0px 0px 0px 0px;
}

.lbl
{
    float: left;
    width: 110px;
    margin: 0px 0px 0px 0px;
}
.lefty
{
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.dateEntry
{
    float: none;
    height: 28px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}
.col1
{
    float: left;
    display: inline;
    width: 54%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.col2
{
    float: right;
    text-align: left;
    display: inline;
    width: 45%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.to
{
    float: left;
    width: 28px;
    clear: none;
    text-align: center;
    vertical-align: middle;
      padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.title 
{
    display:block;
    border: 1px none #C2D7EB;
    width:100%;
    overflow: hidden;
    margin: 0px 0px 0px 0px;
    clear: both;
    padding: 3px 0px 3px 0px;
    font-weight: bold;
    background-color: #C2D7EB;
    
}
.boxwrap 
{
    display:block;
    border: 1px solid #93B2D0;
    background-color: #DEEAF5;
    width: 99%;
}
.middle
{
   text-align: center;
   vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}
.line   
{
    display: block;
    width: 99%;
    clear: both;
    margin: 0px 0px 0px 0px;
    padding: 2px 0px 2px 0px;
}
.topline
{
    height: 60px;
}
.xline 
{
    display: block;
    width: 100%;
    height: 25px;
    clear: both;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;    
}
.nomargin
{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
input.xshortButton 
{
    line-height: 30px;
    margin: 2px 3px 2px 3px;
    padding: 2px 0px 2px 0px;
    background-image: none;
    background-color: #EFEFEF;
    border: 1px solid #FFEFFF;
}
input.shortButton 
{
    background-image: none;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	
	border-color: #678EB7;
	background-color: #8EB3DB;
	 margin: 2px 3px 2px 3px;
     padding: 2px 0px 2px 0px;
}
input.shortButton:hover
{
    background-color: #999999;
    border-color: #FFFFFF;
    background-image: none;
     margin: 2px 3px 2px 3px;
     padding: 2px 0px 2px 0px;
}
input.xshortButton:hover
{
    background-image: none;
     margin: 2px 3px 2px 3px;
     padding: 2px 0px 2px 0px;
    background-color: #FFEFA7;
    border: 2px solid #FFFFAA;
}
.period
{
    background: none;
    background-image: none;
}
.prev
{
    background: none;
    background-image: none;
}
.next
{
    background: none;
    background-image: none;
}
.infolabel 
{ 
    width: 180px;
    float: left;
}
.infotext 
{
    width: 180px;
    float: left;
}
.infocurr
{
    width: 50px;
    float: left;
}
.infonum
{
    width: 70px;
    float: left;
}
.infonumt 
{
    width: 70px;
    float: left;
}

.rowblank 
{
    width: 500px;
    height: 5px;
    clear: both;
    background: transparent;
    display: block;
}
.rowline
{
    width: 405px;
    height: 5px;
    border-top: 1px solid black;
    background: transparent;
    clear:both;
    display: block;
}

.num
{
    text-align: right;
}

.cajoS
{
    background-image:url(App_Themes/BMS_Theme/Images/ytrig.png);
    background-repeat:no-repeat;
    background-position:center;
    clear:both;
    background-color:transparent;
    border: 0px none transparent;
    width: 24px;
    height: 24px;

}


.cajoP
{
    background-image:url(App_Themes/BMS_Theme/Images/gbox.png);
    background-repeat:no-repeat;
    background-position:center;
    clear:both;
    background-color:transparent;
    border: 0px none transparent;
    width: 24px;
    height: 24px;
}

.cajoR
{
    background-image:url(App_Themes/BMS_Theme/Images/red-cross.png);
    background-repeat:no-repeat;
    background-position:center;
    clear:both;
    background-color:transparent;
    border: 0px none transparent;
    width: 24px;
    height: 24px;
}

.cajoD
{
    width: 24px;
    height: 24px;

    display:none;
    border: 0px none transparent;
}

.informationPopUpX
{
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	background-color:#fff;
	border:1px none transparent;
	padding:10px;
	width:300px !important;
	text-align: center;
	
	overflow:auto;
    overflow-y: hidden;    
}

.ReasonPopUp
{
    -webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	background-color:#fff;
	border:1px none transparent;
	padding:10px;
	width: 330px !important;
	text-align: center;
	
	overflow:auto;
    overflow-y: hidden;    
}

.ReverseReasonDiv
{
    text-align: center;
}

