﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="urlHandler.aspx.cs" Inherits="ELVISDashboard.urlHandler" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <script src="App_Themes/BMS_Theme/Script/ParentChild.js" type="text/javascript"></script>
    <script type="text/javascript">
            function closeLogin() {
                window.open("", "_self");
                window.close();
            }
    </script>
    <form id="form1" runat="server">
    <div>

    </div>
    </form>
</body>
</html>
