﻿
    <table width="100%">
        <tr>
            <td></td>
            <td style="font-size: 14pt; height: 50px;">
                [COMPANY_NAME]
             </td>
        </tr>
    </table>
    <div style="text-align: center; font-size: 22pt">
        <strong>PV COVER</strong>
    </div>
    <table width="100%">
        <tr>
            <td style="font-size: 12pt" >
                Issuing Division:
            </td>
            <td style="font-size: 12pt" >
                [ISSUING_DIVISION]
            </td>
            <td style="font-size: 12pt" >
                PV Date:
            </td>
            <td style="font-size: 12pt" >
                [PV_DATE]
            </td>
        </tr>
        <tr>
            <td style="font-size: 12pt" >
                PV No:
            </td>
            <td colspan="3" style="font-size: 16pt;">
                [PV_NO]
            </td>
        </tr>
        <tr>
            <td style="font-size: 12pt" >
                Vendor:
            </td>
            <td colspan="3" style="font-size: 12pt" >
                [VENDOR_NAME]
            </td>
        </tr>
        <tr>
            <td style="font-size: 12pt" >
                Transaction Type:
            </td>
            <td colspan="3" style="font-size: 16pt" >
                [TRANSACTION_TYPE]
            </td>
        </tr>
    </table>

    <table width="30%">
        <tr>
            <td colspan="2">
                <strong style="font-size: 14pt">Total Amount</strong>
            </td>
        </tr>
        [AMOUNT]
    </table>
        [INVOICE]
    <table>
        <tr>
            <td>
                Printed by
            </td>
            <td>
                [USERNAME]
            </td>
        </tr>
        <tr>
            <td>
                Print Date
            </td>
            <td>
                [PRINT_DATE]
            </td>
        </tr>
    </table>