#menu-top{
	background:#fff url(../images/layout/navhead_bg.gif) bottom repeat-x;
	float:left;
	display:inline;
	width:100%;
	height:27px;
	margin:0 0 15px 0;
}

ul.MenuBarHorizontal
{
	margin: 0;
	padding: 0;
	cursor: default;
	float:left;
}

ul.MenuBarActive
{
	z-index: 1000;
}

ul.MenuBarHorizontal a
{
	display: block;
	cursor: pointer;
	background: #EEE;
	padding: 7px;
	color: #135581;
	text-decoration: none;
	line-height:normal;
}

ul.MenuBarHorizontal a:hover
{
	background:#efefef url(../images/layout/navhead_separator.gif) no-repeat top right !important;
}


ul.MenuBarHorizontal li
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
	text-align: left;
	cursor: pointer;
	float: left;
	background:#330066 url(../images/layout/navhead_bg.gif) bottom repeat-x !important;
}

ul.MenuBarHorizontal li a{
	background:url(../images/layout/navhead_separator.gif) no-repeat top right !important;
	color:#135581;
	font-weight:bold;
	text-transform:uppercase;
}

ul.MenuBarHorizontal ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	z-index: 1020;
	cursor: default;
	width: 8.2em;
	position: absolute;
	left: -1000em;
	background:#efefef;
}

ul.MenuBarHorizontal ul.MenuBarSubmenuVisible
{
	left: auto;
}

ul.MenuBarHorizontal ul li
{
	width: 8.2em;
}

ul.MenuBarHorizontal ul ul
{
	position: absolute;
	margin: 0 0 0 100%;
}

ul.MenuBarHorizontal ul.MenuBarSubmenuVisible ul.MenuBarSubmenuVisible
{
	left: auto;
	top: 0;
}

ul.MenuBarHorizontal ul
{
	width:200px;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
}

ul.MenuBarHorizontal a:hover, 
ul.MenuBarHorizontal a:focus
{
	background: #efefef !important;
	text-decoration:none !important;
}

ul.MenuBarHorizontal ul li{
	width:100%;
	border-bottom:1px solid #ddd;
}

ul.MenuBarHorizontal ul li a{
	background: #fff !important;
	color: #135581 !important;
	font-weight:lighter;
	text-transform:none;
}

ul.MenuBarHorizontal ul li a:hover{
	background:#eee !important;
	color:#333 !important;
}

/* Menu items that are open with submenus are set to MenuBarItemHover with a blue background and white text */
ul.MenuBarHorizontal a.MenuBarItemHover, 
ul.MenuBarHorizontal a.MenuBarItemSubmenuHover, 
ul.MenuBarHorizontal a.MenuBarSubmenuVisible
{
	background-color: #33C;
	color: #888;
}

/* HACK FOR IE: to make sure the sub menus show above form controls, we underlay each submenu with an iframe */
ul.MenuBarHorizontal iframe
{
	position: absolute;
	z-index: 1010;
}
/* HACK FOR IE: to stabilize appearance of menu items; the slash in float is to keep IE 5.0 from parsing */
@media screen, projection
{
	ul.MenuBarHorizontal li.MenuBarItemIE
	{
		display: inline;
		f\loat: left;
		background: #FFF;
	}
}

ul.MenuBarHorizontal2{
	float:right;
	display:inline;
	margin:2px 5px 0 0;
	padding:0;
}

ul.MenuBarHorizontal2 li{
	margin:0;
	padding:0;
	float:left;
	display:inline;
	background:none;
	padding:3px 5px;
}

ul.MenuBarVertical{
	padding:0;
	margin:0 0 15px 0 !important;
	clear:both;
	background:#391667;
	width:100%;
	overflow:hidden;
}

ul.MenuBarVertical li{
	margin:0;
	line-height:12px !important;
	text-align:left;
	background:none;
	padding:0;
	width:100%;
	font-weight:bold;
	border-top:1px solid #fff;
}

ul.MenuBarVertical li ul{
	padding:0;
	margin:0;
	background:#438fc2;
}

ul.MenuBarVertical li ul li {
	border: none;
	display: block;
	margin: 0;
	padding:0;
	font-weight:lighter !important;
}

ul.MenuBarVertical li ul li a{
	background: url(../images/layout/arrow02.gif) 7px 9px no-repeat !important;
	margin:0;
	padding:6px 2% 6px 15px;
	line-height:normal !important;
}

ul.MenuBarVertical li a{
	display:block;
	color:#fff !important;
	width:92%;
	height:92%;
	padding:4%;
}

ul.MenuBarVertical li a submenuactive{
	background:#7a609c;
}

ul.MenuBarVertical li a span{
	
	display:block;
}

ul.MenuBarVertical ul li a {
	display:block;
}

ul.MenuBarVertical li a:hover{
	background-color:#135581 !important;
	color:#ddd !important;
	text-decoration:none;
}

ul.MenuBarVertical li.menutitle a{
	background:url(../images/layout/bg_menutitle.gif) repeat-x;
	cursor:default;
	color:#fff;
	text-transform:uppercase;
}

ul.MenuBarVertical li.menutitle a:hover{
	background:url(../images/layout/bg_menutitle.gif) repeat-x;
	cursor:default;
	color:#fff!important;
}